<div class="row">
    <div class="col-md-12 text-center">
        <h1>{{category.category}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card" data-ng-repeat="item in category.items">
        <div class="card-container text-center">
            <div class="card-header">
                <h3>{{item.item}}</h3>
                <div class="card-tools" data-ng-show="item.isAuthor">
                    <button data-item-category="{{category.category}}"
                            data-mobile-item="{{item.item}}"
                            data-ng-click="editItem($event)">
                        <i class="icon-quill" aria-hidden="true"></i>
                    </button>
                    <button data-item-category="{{category.category}}"
                            data-mobile-item="{{item.item}}"
                            data-ng-click="deleteItem($event)">
                        <i class="icon-bin" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <img class="img-responsive" src="{{item.img}}"/>
            <table class="table text-left">
                <tr data-ng-repeat="(key, value) in item.fields">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
